<section class="row text-center" id="<%= route %>">
  <% rows.forEach(function(row){ %>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
          <img src="/uploads/<%= row.image_filename %>" class="w-100">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-body">
            <h3 class="text-left">
              <%= row.estab_name %>
            </h3>
            <p class="card-text text-left text-truncate">
              <%= row.estab_description %>
            </p>
            <a href="/<%= route %>/<%= row.estab_no %>" class="btn btn-primary float-left my-3">View more</a>
            <br>
            <br>
            <br>
            <h3>
              <% if (row.RATES) { %>
              <small>
                <span class="float-left">
                  Rating:
                </span>
                <span class="badge badge-secondary float-left">
                  <%= row.RATES %>
                </span>
                <span class="float-left">
                  (<%= row.Num_of_Rates %> reviews)
                </span>
              </small>
              <% } %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</section>