<section class="row text-center" id="<%= route %>">
  <% rows.forEach(function(row){ %>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
          <img src="/uploads/<%= row.image_filename %>" class="w-100">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-body">
            <h3 class="text-left">
              <%= row.estab_name %>
            </h3>
            <p class="text-left">
              <small><%= moment(row.estab_encode_date).format('MMMM D, YYYY'); %></small>
              <span>
                <% estab_visited.forEach(function(visited) { %>
                <% if (row.estab_no == visited.estab_no) { %>
                (<%= visited.estab_visited %> views)
                <% } %>
                <% }); %>
              </span>
            </p>
            <p class="card-text text-left text-wrap text-truncate">
              <%= row.estab_description %>
            </p>
            <a href="/<%= route %>/<%= row.estab_no %>" class="btn btn-primary float-left my-3">View more</a>
            <br>
            <br>
            <br>
            <h3>
              <% if (row.RATES) { %>
              <small>
                <span class="float-left">
                  <% let starPercentage = (row.RATES / 5) * 100 %>
                  <% let starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%` %>
                  <div class="stars-outer">
                    <div class="stars-inner" style="width: <%= starPercentageRounded %>;"></div>
                  </div>
                </span>
                <span class="badge badge-secondary float-left">
                  <%= row.RATES %>
                </span>
                <span class="float-left">
                  (<%= row.Num_of_Rates %> reviews)
                </span>
              </small>
              <% } %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</section>