<!doctype html>
<html lang="en">
<%- include('partials/head') %>
<body class="">
  <div class="wrapper ">
    <% if (page == 'Login')  { %>
      <%- include('pages/Authenticate/Login') %>
    <% } else { %>
      <%- include('partials/sidebar') %>
      <div class="main-panel">
        <%- include('partials/navbar') %>
        <div class="content p-0">
          <div class="container-fluid">
            <%- include('pages/' + page) %>
          </div>
        </div>
        <%- include('partials/footer') %>
      </div>
    <% } %>
  </div>
<%- include('partials/corejs') %>
</body>
</html>