<%- include('./partials/index') %>

<link href="/vendor/owl/owl.carousel.min.css" rel="stylesheet">
<link href="/vendor/owl/owl.theme.default.min.css" rel="stylesheet">


<link href="/css/carouselDisplayMorethanOne.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
  .ui-autocomplete-loading {
    background: white url("img/lightbox/preloader.gif") right center no-repeat;
  }

  .ui-autocomplete {
    z-index: 2000 !important;
  }
</style>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/vendor/owl/owl.carousel.min.js"></script>

<script>
  $(function () {

    $("#tags").autocomplete({
      source: (request, response) => {
        fetch("/api/search?search=" + $("#tags").val(), { method: 'get' })
          .then(res => res.json())
          .then(data => {
            const names = data.api_res.map(name => name.estab_name);
            response(names)
          })
          .catch(err => console.log(err))
      },
      minLength: 3,
    });

    <% if (login_message !== '') { %>
      toastr.success('Succesfully login.', 'System Notice!')
      <% } %>
  });
</script>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top pt-0 pb-0" style="background-color: #212529;" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Abra Travel Guide </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

      <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" id="tags" name="search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <span id="digital-clock" class="text-white nav-link"></span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="servicesDropdown">
            <a href="/tour" class="dropdown-item">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
              </span>
              Tour
            </a>
            <a class="dropdown-item" href="/map">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-map fa-stack-1x fa-inverse"></i>
              </span>
              Maps
            </a>
            <a class="dropdown-item" href="/about">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
              </span>
              About Us
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="exploreDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Explore
          </a>
          <div class="dropdown-menu" aria-labelledby="exploreDropdown">
            <% rows.forEach(function(row){ %>
            <% var cat; %>
            <% if(row.ec_name == 'Ilocano Delicacies') { %>
            <% cat = 'ilocano' %>
            <% } else if (row.ec_name == 'Banks & Atms') { %>
            <% cat = 'banks' %>
            <% } else if (row.ec_name == 'Churches & Structures') { %>
            <% cat = 'church' %>
            <% } else { %>
            <% cat = row.ec_name %>
            <% } %>
            <a class="dropdown-item" href="/<%= cat %>"><%= row.ec_name %></a>
            <% }); %>
          </div>
        </li>
        <li class="nav-item">
          <% if (user == '') {%>
          <a class="nav-link" href="/login">Sign in</a>
          <% } else { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Welcome back
            <%= user.user_fname %>!
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePasswordModal">Change
              Password</a>
            <a class="dropdown-item" href="/logout/client"
              onclick="return confirm('Are you sure you want to logout?');">Logout</a>
          </div>
        </li>
        <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-change-pass" action="/changepassword" method="POST">
          <p class="text-danger">* fields are required</p>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-6 col-form-label">
              <span class="text-danger">*</span>
              Old Password
            </label>
            <div class="col-md-6">
              <input type="password" class="form-control" id="oldPassword" name="oldpassword" placeholder="Old Password"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-6 col-form-label">
              <span class="text-danger">*</span>
              Password
            </label>
            <div class="col-md-6">
              <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmPassword" class="col-md-6 col-form-label">
              <span class="text-danger">*</span>
              Confirm Password
            </label>
            <div class="col-md-6">
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="changePassword">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <!-- <div class="intro-lead-in">
        <p style="opacity: 0; cursor: default;">opacity</p>
      </div>
      <div class="intro-heading text-uppercase">Abra Travel Guide</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
    </div>
  </div>
</header>

<!-- Nav Categories -->
<!-- 
<hr>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFF;">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    Categories
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <% rows.forEach(function(row){ %>
      <% if(row.ec_name == 'Festival') { %>
        <a class="portfolio-link" href="/festival">
          <img class="img-fluid m-2" id="link-hover" src="../festivala111.png" alt="" height="300" width="100">
        </a>
      <% } %>
      <% if(row.ec_name == 'Nature') { %>
        <a class="portfolio-link" href="/nature">
          <img class="img-fluid m-2" id="link-hover" src="../natura2.png" alt="" height="300" width="100">
        </a>
      <% } %>
      <% if(row.ec_name == 'Pasalubong') { %>
      <a class="portfolio-link" href="/pasalubong">
        <img class="img-fluid m-2" id="link-hover" src="../bag.png" alt="" height="300" width="100">
      </a>
      <% } %>
      <% if(row.ec_name == 'Transportation') { %>
      <a class="portfolio-link" href="/transportation">
        <img class="img-fluid m-2" id="link-hover" src="../transportation2.png" alt="" height="300" width="100">
      </a>
      <% } %>
      <% if(row.ec_name == 'Banks & Atms') { %>
      <a class="portfolio-link" href="/banks">
        <img class="img-fluid m-2" id="link-hover" src="../banksa.png" alt="" height="300" width="100">
      </a>
      <% } %>
      <% if(row.ec_name == 'Restaurants') { %>
      <a class="portfolio-link" href="/restaurants">
        <img class="img-fluid m-2" id="link-hover" src="../restaurants copy.png" alt="" height="300" width="100">
      </a>
      <% } %>
      <% if(row.ec_name == 'Ilocano Delicacies') { %>
      <a class="portfolio-link" href="/ilocano">
        <img class="img-fluid m-2" id="link-hover" src="../ilocanodeli12.png" alt="" height="300" width="100">
      </a>
      <% } %>
      <% if(row.ec_name == 'Churches & Structures') { %>
      <a class="portfolio-link" href="/church">
        <img class="img-fluid m-2" id="link-hover" src="../museums.jpg" alt="" height="300" width="100">
      </a>
      <% } %>
      <% if(row.ec_name == 'Hotels') { %>
      <a class="portfolio-link" href="/hotels">
        <img class="img-fluid m-2" id="link-hover" src="../hotelsq.png" alt="" height="300" width="100">
      </a>
      <% } %>
      <% }); %>
      <a href="/about" class="portfolio-link">
        <img class="img-fluid m-2" id="link-hover" src="../logo1 (2).jpg" alt="" height="300" width="135">
      </a>
  </div>
  </div>
</nav>
<hr>
-->

<!-- Portfolio Grid -->
<section class="mt-0 pt-0 pb-0">
  <div class="container">
    <div class="row">
      <!-- Multiple Item in Carousel -->
      <!-- Popular Destinations -->
      <%- include('index_presets/destinations') %>

      <!-- Featured Attrations -->
      <%- include('index_presets/featured') %>

      <!-- Adventure -->
      <%- include('index_presets/adventure') %>

      <!-- User Recommendations -->
      <%- include('index_presets/user_recommendations') %>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col jumbotron p-3">
      <h3>About Abra</h3>
      <p class="text-sm-left font-italic">
        <small>
          Abra was created as a politico-military province in 1846, prior to which was part of the
          old Ilocos Province and later Ilocos Sur when Ilocos Region was divided into two provinces in 1818. Civil
          government was established in Abra on August 19, 1901, but was re-annexed to Ilocos Sur in February 1905.
          Abra remained a sub-province in 12 years, regaining its status as a province only after the passage of Act
          2683 in March 1917.
        </small>
      </p>
      <p class="text-sm-left font-italic">
        <small>
          Agriculture is the main economic activity of the province. Horses, which the province is known for in the
          Cordilleras and Northern Luzon, were a major mode of transportation during the Spanish period. The Abra
          River is widely utilized as a means of traversing and travelling in and out of the province.
        </small>
      </p>
      <p class="text-sm-left font-italic">
        <small>
          When the Spaniards came, missionary work was done in Abra by the Augustinian Order who founded the town of
          Bangued in 1898. The priests also made extensive studies of the culture of the indigenous people of Abra
        </small>
      </p>
      <p class="text-sm-left font-italic">
        <small>
          The Abreños actively participated in the national uprising in the 18th century. During the middle part of
          1899, a revolutionary government was set-up in Abra through the leadership of Don Blas Villamor. Leocadio
          Valera became the Provincial Governor until Abra fell into the American Civil Government established on
          August 19, 1909
        </small>
      </p>
      <p class="text-sm-left font-italic">
        <small>
          During the Japanese occupation, a subversive guerrilla organization was formed to resist the intruders. Like
          any other place, the province was heavily damaged during the 2nd World War. Industries and properties were
          adversely affected. When the Americans took over the war, a new system of government was introduced and
          substancial changes in social, religious, political and economic life of the people took place.
        </small>
      </p>
    </div>
  </div>
  <div class="row ">
    <div class="col text-center">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" frameborder="0" width="560" height="315"
          src="https://biteable.com/watch/embed/abra-itour-2226303" allowfullscreen="true" allow="autoplay"></iframe>
      </div>

      <p><a href="https://biteable.com/watch/abra-itour-2226303">Abra iTour</a> on <a
          href="https://biteable.com">Biteable</a>.</p>
      SHARE
      Abra iTour
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    $("#carouselExample").on("slide.bs.carousel", function (e) {
      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var itemsPerSlide = 3;
      var totalItems = $(".carousel-item").length;

      if (idx >= totalItems - (itemsPerSlide - 1)) {
        var it = itemsPerSlide - (totalItems - idx);
        for (var i = 0; i < it; i++) {
          // append slides to end
          if (e.direction == "left") {
            $(".carousel-item")
              .eq(i)
              .appendTo(".carousel-inner");
          } else {
            $(".carousel-item")
              .eq(0)
              .appendTo(".carousel-inner");
          }
        }
      }
    });


    function validatePassword(password) {
      let customRegExp = new RegExp("^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$");
      return customRegExp.test(password);
    }

    $('#changePassword').click(() => {
      var oldPassword = $.trim($('#oldPassword').val());
      var inputPassword = $.trim($('#inputPassword').val());
      var confirmPassword = $.trim($('#confirmPassword').val());

      if (!validatePassword(inputPassword)) {
        alert('Should have 8 to 16 characters, must contain one special character, at least one uppercase character, and have a numerical.');
        return false;
      }

      if (inputPassword !== confirmPassword) {
        alert('Password doesn\'t match.');
        return false;
      }

      fetch('/changepassword', {
        method: 'post',
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'application/json'
        },
        body: JSON.stringify({
          oldPassword: oldPassword,
          inputPassword: inputPassword,
          confirmPassword: confirmPassword
        })
      })
        .then((res) => res.json())
        .then((data) => {
          if (data.error) {
            return alert(data.err_msg)
          }

          if (data.success) {
            $('#changePasswordModal').modal('hide');
            return alert(data.success_msg);
          }
        })
        .catch((err) => {
          $('#changePasswordModal').modal('hide');
          return alert('Ooops something went wrong. Try again later.')
        });

    });
  });
</script>
<%- include('partials/footer') %>