<%- include('./partials/index') %>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Abra Guide</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Explore</a>
        </li>
        <li class="nav-item">
          <% if (user == '') {%>
          <a class="nav-link" href="/login">Sign In</a>
          <% } else { %>
          <a class="nav-link" href="/logout">Welcome back
            <%= user.user_lname %>,
            <%= user.user_fname %>!</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">
        <input type="text" class="form-control w-50 mx-auto" aria-describedby="SearchHere" placeholder="Search Here...">
      </div>
      <div class="intro-heading text-uppercase">Abra Tourist Assistant</div>
      <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
    </div>
  </div>
</header>

<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted">Abra offers the best for you! Tour PROVIDES  you  the best tourist attractions. Maps will show you how to take you there, and About Us will give you contact details to let you connect with the system administrator</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <a href="/tour" style="text-decoration: none" class="text-body">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Tour</h4>
          <p class="text-muted">Skip pricey bus or walking tours on your next trip instead click this button to let you see tourist attractions in the province. </p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/map" style="text-decoration: none" class="text-body">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-map fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Maps</h4>
          <p class="text-muted">How to get there? Use this button to take you there.</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/about" style="text-decoration: none" class="text-body">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">About Us</h4>
          <p class="text-muted">Abra is a province geographically located in the northern archipelago of Luzon particularly on the western side of the Cordillera... Read more</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Explore the Province</h2>
        <h3 class="section-subheading text-muted">Sighseeing tours,  hotels, restaurants, rivers and waterfalls</h3>
      </div>
    </div>
    <div class="row">
      <% rows.forEach(function(row){ %>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <% if(row.ec_name == 'Restaurant') { %>
        <a class="portfolio-link" href="/Restaurants">
          <% } else if(row.ec_name == 'Mountain') { %>
          <a class="portfolio-link" href="/Mountain">
            <% } else if(row.ec_name == 'River') { %>
            <a class="portfolio-link" href="/River">
              <% } else if(row.ec_name == 'Waterfalls') { %>
              <a class="portfolio-link" href="/Waterfalls">
                <% } else if(row.ec_name == 'Pasalubong') { %>
                <a class="portfolio-link" href="/Pasalubong">
                  <% } else if(row.ec_name == 'Hotels') { %>
                  <a class="portfolio-link" href="/Hotels">
                    <% } %>
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <% if(row.ec_name == 'Restaurant') { %>
                        <i class="fa fa-cutlery fa-3x"></i>
                        <p class="text-muted">Restaurant</p>
                        <% } else if(row.ec_name == 'Mountain') { %>
                        <i class="fa fa-area-chart fa-3x"></i>
                        <p class="text-muted">Mountain</p>
                        <% } else if(row.ec_name == 'River') { %>
                        <i class="fa fa-life-ring fa-3x"></i>
                        <p class="text-muted">River</p>
                        <% } else if(row.ec_name == 'Waterfalls') { %>
                        <i class="fa fa-tint fa-3x"></i>
                        <p class="text-muted">Waterfalls</p>
                        <% } else if(row.ec_name == 'Pasalubong') { %>
                        <i class="fa fa-bank fa-3x"></i>
                        <p class="text-muted">Pasalubong / Shopping Centers</p>
                        <% } else if(row.ec_name == 'Hotels') { %>
                        <i class="fa fa-hotel fa-3x"></i>
                        <p class="text-muted">Hotels</p>
                        <% } %>
                      </div>
                    </div>
                    <% if(row.ec_name == 'Restaurant') { %>
                    <img class="img-fluid" src="restaurant.jpg" alt="" height="300" width="400">
                    <% } else if(row.ec_name == 'Mountain') { %>
                    <img class="img-fluid" src="island.jpeg" alt="" height="300" width="400">
                    <% } else if(row.ec_name == 'River') { %>
                    <img class="img-fluid" src="beach.jpg" alt="" height="300" width="400">
                    <% } else if(row.ec_name == 'Waterfalls') { %>
                    <img class="img-fluid" src="waterfalls.jpg" alt="" height="300" width="400">
                    <% } else if(row.ec_name == 'Pasalubong') { %>
                    <img class="img-fluid" src="church.jpg" alt="" height="300" width="400">
                    <% } else if(row.ec_name == 'Hotels') { %>
                    <img class="img-fluid" src="hotels.jpg" alt="" height="300" width="400">
                    <% } %>
                  </a>
                  <div class="portfolio-caption">
                    <h4>
                      <%= row.ec_name %>
                    </h4>
                  </div>
      </div>
      <%	}); %>
    </div>
  </div>
</section>

<%- include('partials/footer') %>