<%- include('./partials/index') %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
  .ui-autocomplete-loading {
    background: white url("img/lightbox/preloader.gif") right center no-repeat;
  }
</style>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function () {

    $("#tags").autocomplete({
      source: (request, response) => {
        fetch("/api/search?search=" + $("#tags").val(), { method: 'get' })
          .then(res => res.json())
          .then(data => {
            const names = data.api_res.map(name => name.estab_name);
            response(names)
          })
          .catch(err => console.log(err))
      },
      minLength: 3,
    });

  });
</script>


<nav class="navbar navbar-expand-lg navbar-dark fixed-top pt-0 pb-0" style="background-color: #212529;" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Abra Travel Guide </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <form action="/search" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" id="tags" name="search"
          value="<%= search %>">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <span id="digital-clock" class="text-white nav-link"></span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="servicesDropdown">
            <a href="/tour" class="dropdown-item">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
              </span>
              Tour
            </a>
            <a class="dropdown-item" href="/map">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-map fa-stack-1x fa-inverse"></i>
              </span>
              Maps
            </a>
            <a class="dropdown-item" href="/about">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
              </span>
              About Us
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="exploreDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Explore
          </a>
          <div class="dropdown-menu" aria-labelledby="exploreDropdown">
            <% rows.forEach(function(row){ %>
            <% var cat; %>
            <% if(row.ec_name == 'Ilocano Delicacies') { %>
            <% cat = 'ilocano' %>
            <% } else if (row.ec_name == 'Banks & Atms') { %>
            <% cat = 'banks' %>
            <% } else if (row.ec_name == 'Churches & Structures') { %>
            <% cat = 'church' %>
            <% } else { %>
            <% cat = row.ec_name %>
            <% } %>
            <a class="dropdown-item" href="/<%= cat %>"><%= row.ec_name %></a>
            <% }); %>
          </div>
        </li>
        <li class="nav-item">
          <% if (user == '') {%>
          <a class="nav-link" href="/login">Sign in</a>
          <% } else { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Welcome back
            <%= user.user_fname %>!
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePasswordModal">Change
              Password</a>
            <a class="dropdown-item" href="/logout/client"
              onclick="return confirm('Are you sure you want to logout?');">Logout</a>
          </div>
        </li>
        <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Search -->
<div class="container pb-auto mt-5 pt-5">
  <div class="row">
    <% if(search_res != 'N/A') { %>
    <div class="col-md-12">
      <h4 class="section-heading text-uppercase">
        Search Keyword for '<%= search %>' (<%= search_count %>)
      </h4>
    </div>
    <div class="col-md-12">
      <form method="GET" action="/search">
        <input type="text" name="search" value="<%=search%>" hidden>
        <div class="form-row pull-right">
          <div class="form-group col-md-12">
            <span class="font-weight-bold">Sort By</span>
            <label for="destination">
              <select name="destination" id="" class="form-control" onchange="this.form.submit()">
                <option value="" <%= destination=='null' ? 'selected' : '' %>>
                  Default
                </option>
                <option value="nature" <%= destination=='nature' ? 'selected' : '' %>>
                  Attractions
                </option>
                <option value="church" <%= destination=='Churches & Structures' ? 'selected' : '' %>>Churches/Structures
                </option>
                <option value="ilocano" <%= destination=='Ilocano Delicacies' ? 'selected' : '' %>>Ilocano Foods
                </option>
                <option value="festivals" <%= destination=='festivals' ? 'selected' : '' %>>Festivals</option>
                <option value="adventures" <%= destination=='adventures' ? 'selected' : '' %>>Adventures</option>
                <option value="hotels" <%= destination=='hotels' ? 'selected' : '' %>>Hotels</option>
                <option value="restaurants" <%= destination=='restaurants' ? 'selected' : '' %>>Restaurants</option>
                <option value="banks" <%= destination=='Banks & Atms' ? 'selected' : '' %>>Banks/Atms</option>
                <option value="pasalubong" <%= destination=='pasalubong' ? 'selected' : '' %>>Shopping</option>
              </select>
            </label>
            <label for="filtering">
              <select name="filtering" id="" class="form-control" onchange="this.form.submit()">
                <option value="">Default</option>
                <option value="popularity" <%= filtering=='popularity' ? 'selected' : '' %>>By Popularity</option>
                <option value="recents" <%= filtering=='recents' ? 'selected' : '' %>>Recently Added Destinations
                </option>
                <option value="featured" <%= filtering=='featured' ? 'selected' : '' %>>Featured Attractions</option>
              </select>
            </label>
            <% if(search == 'hotel' || search == 'hotels' || search == 'Hotel' || search == 'Hotels' || search == 'HOTEL' || search == 'HOTELS' || destination == 'hotels') { %>
            <label for="destination">
              <% } else { %>
              <label for="destination" style="display: none;">
                <% } %>
                <select name="prices" id="" class="form-control" onchange="this.form.submit()">
                  <option value="1000" <%= prices=='1000' ? 'selected' : '' %>>
                    Less than 1000
                  </option>
                  <option value="1500" <%= prices=='1500' ? 'selected' : '' %>>
                    Less than 1500
                  </option>
                  <option value="2000" <%= prices=='2000' ? 'selected' : '' %>>
                    Less than 2000
                  </option>
                  <option value="2500" <%= prices=='2500' ? 'selected' : '' %>>
                    Less than 2500
                  </option>
                  <option value="3000" <%= prices=='3000' ? 'selected' : '' %>>
                    Less than 3000
                  </option>
                </select>
              </label>
          </div>
        </div>
      </form>
    </div>
    <% search_res.forEach(function(res) { %>
    <% var cat; %>
    <% if(res.ec_name == 'Ilocano Delicacies') { %>
    <% cat = 'ilocano' %>
    <% } else if (res.ec_name == 'Banks & Atms') { %>
    <% cat = 'banks' %>
    <% } else if (res.ec_name == 'Churches & Structures') { %>
    <% cat = 'church' %>
    <% } else { %>
    <% cat = res.ec_name %>
    <% } %>
    <div class="col-md-4 col-sm-6 portfolio-item pb-3">
      <div class="card">
        <a class="portfolio-link" href="/<%= cat %>/<%= res.id %>">
          <img src="/uploads/<%= res.image_filename %>" class="img-fluid" style="height:200px; width:400px;"
            onerror="if (this.src != 'error.jpg') this.src = '/uploads/default.png';" alt="<%= res.estab_name %>">
        </a>
        <div class="card-body">
          <h5 class="card-title text-truncate mb-0 pb-0">
            <%= res.estab_name %>
          </h5>
          <p class="card-text text-dark pb-0 mb-0">
            <% if (res.RATES) { %>
            <span>
              <% let starPercentage = (res.RATES / 5) * 100 %>
              <% let starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%` %>
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= starPercentageRounded %>;"></div>
              </div>
            </span>
            <span class="badge badge-secondary">
              <%= res.RATES %>
            </span>
            <% } %>
          </p>
          <p class="card-text text-muted">
            <%= res.estab_description.substring(0, 100) %>...
          </p>
          <% if (res.price) { %>
          <h2 class="badge badge-secondary">
            <%= (res.price) ? '₱'+res.price : '' %>
          </h2>
          <% } %>
          <a class="portfolio-link btn btn-primary float-right" href="/<%= cat %>/<%= res.id %>">
            Explore
          </a>
        </div>
      </div>
    </div>
    <% }); %>
    <% } else { %>
    <div class="jumbotron mx-auto">
      <div class="container">
        <h1 class="display-4">Sorry</h1>
        <p class="lead">There are no results for the
          <strong>Search Keyword for '<%= search %>'</strong>
        </p>
      </div>
    </div>
    <% } %>
  </div>
</div>
<%- include('./partials/footer') %>