<section>
  <!-- Page Content -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">
          <a href="/<%= route %>">
            <%= route.charAt(0).toUpperCase()+route.substring(1) %>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= info_rows[0].spot_name%></li>
      </ol>
    </nav>
    <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <!-- Title -->
          <div class="card-header">
            <h4 class="card-title d-flex justify-content-center">
              <%= info_rows[0].spot_name.toUpperCase() %>
            </h4>
          </div>
          <!-- Carousel -->
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <% if (images_rows !== "N/A") { %>
              <% images_rows.forEach(function(row, index) { %>
              <div class="carousel-item <% if (index == 0) { %> active <% } %>">
                <img class="d-block w-100" src="/uploads/<%= row.img_filename %>" alt="/uploads/<%= row.img_filename %>"
                  height="350">
              </div>
              <%  }); %>
              <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!-- Rating -->
          <div class="card-footer">
            <h3>Rating:
              <% if (rating.length > 0) { %>
              <%= rating[0].RATES %>
              <% } %>
              <span class="float-right">
                <%- include('../rating/rating.ejs') %>
              </span>
            </h3>
          </div>
          <!-- Information -->
          <div class="card-body">
            <dl class="row">
              <dd class="col-sm-12 font-italic">Tags:<small>
                  <% key_rows.forEach(function(word) { %>
                  <%= (!Number(word.k_keyword)) ? word.k_keyword+';' : '' %>
                  <% }); %>
                </small>
              </dd>
              <dd class="col-sm-12">
                <%- info_rows[0].spot_description %>
              </dd>
              <dd class="col-sm-12">
                <strong><%= info_rows[0].town_name %></strong>
              </dd>
              <dd class="col-sm-12">
                <strong><%= info_rows[0].bar_name %></strong>
              </dd>
              <dd class="col-sm-12">
                <strong><%= sl_route %></strong>
              </dd>
              <dd class="col-sm-12">
                <div class="col-md-12" id="map" style="height:350px;width:100%;"></div>
              </dd>
            </dl>
          </div>
          <!-- Comments -->
          <div class="card-footer">
            <!-- Comments -->
            <div class="row">
              <div class="col-md-12">
                <form id="form-comments" class="form-inline" action="/<%= route %>/<%= info_rows[0].spot_no %>"
                  method="post">

                  <% if (user=="null") { %>
                  <img src="/guest.ico" alt="..." class="rounded-circle" height="32" width="32">
                  <input type="email" class="form-control" placeholder="Email (Required)" name="email" id="email">
                  <input type="text" class="form-control" placeholder="Name (Required)" name="name" id="name">
                  <% } %>
              </div>
            </div>
            <!-- Comment Input -->
            <div class="row">
              <div class="col-md-12">
                <textarea class="form-control" id="content" rows="3" style="min-width: 100%"
                  name="comment_content"></textarea>
              </div>
            </div>
            <!-- Comment Submit -->
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary float-right" id="comment">Comment</button>
                </form>
              </div>
            </div>
            <hr>
            <!-- Comment Output -->
            <%- include('../comment/comment.ejs') %>
          </div>
        </div>
      </div>
      <!-- Related Projects Row -->
      <div class="col-md-4">
        <% if(user == "null" && user_recon.length != 0) { %>
        <h5 class="section-heading text-uppercase">You Might Also Like:</h5>
        <div class="row">
          <% user_recon.forEach(function(recon) { %>
          <% var cat; %>
          <% if(recon.sc_name == 'Ilocano Delicacies') { %>
          <% cat = 'ilocano' %>
          <% } else if (recon.sc_name == 'Banks & Atms') { %>
          <% cat = 'banks' %>
          <% } else if (recon.sc_name == 'Churches & Structures') { %>
          <% cat = 'church' %>
          <% } else { %>
          <% cat = recon.sc_name %>
          <% } %>
          <div class="col-md-6 mt-3">
            <div class="card" style="width: 150px;">
              <a href="/<%= cat %>/<%= recon.spot_no %>">
                <img class="img-fluid" style="height:75px; width:150px;" src="/uploads/<%= recon.img_filename %>"
                  onerror="if (this.src != 'error.jpg') this.src = '/uploads/default.png';" alt="/uploads/default.png">
              </a>
              <div class="card-footer pt-0 mt-0 pb-0 mt-0">
                <p class="text-truncate mb-0 pb-0">
                  <%= recon.spot_name %>
                </p>
                <p class="mb-0 pb-0">
                  Rating:
                  <span class="badge badge-secondary">
                    <%= recon.RATES %>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <% } %>

        <% if(user != "null") { %>
        <h5 class="section-heading text-uppercase">Just For You</h5>
        <div class="row">
          <% similarRows.forEach(function(recon) { %>
          <div class="col-md-6 mt-3">
            <div class="card" style="width: 150px;">
              <a href="/<%= recon.sc_name %>/<%= recon.spot_no %>">
                <img class="img-fluid" style="height:75px; width:150px;" src="/uploads/<%= recon.img_filename %>"
                  onerror="if (this.src != 'error.jpg') this.src = '/uploads/default.png';" alt="/uploads/default.png">
              </a>
              <div class="card-footer pt-0 mt-0 pb-0 mt-0">
                <p class="text-truncate mb-0 pb-0">
                  <%= recon.spot_name %>
                </p>
                <p class="mb-0 pb-0">
                  Rating:
                  <span class="badge badge-secondary">
                    <%= recon.RATES %>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <% if(user_recon.length != 0) { %>
        <h5 class="section-heading text-uppercase mt-3">You Might Also Like:</h5>
        <div class="row">
          <% user_recon.forEach(function(recon) { %>
          <% var cat; %>
          <% if(recon.sc_name == 'Ilocano Delicacies') { %>
          <% cat = 'ilocano' %>
          <% } else if (recon.sc_name == 'Banks & Atms') { %>
          <% cat = 'banks' %>
          <% } else if (recon.sc_name == 'Churches & Structures') { %>
          <% cat = 'church' %>
          <% } else { %>
          <% cat = recon.sc_name %>
          <% } %>
          <div class="col-md-6 mt-3">
            <div class="card" style="width: 150px;">
              <a href="/<%= cat %>/<%= recon.spot_no %>">
                <img class="img-fluid" style="height:75px; width:150px;" src="/uploads/<%= recon.img_filename %>"
                  onerror="if (this.src != 'error.jpg') this.src = '/uploads/default.png';" alt="/uploads/default.png">
              </a>
              <div class="card-footer pt-0 mt-0 pb-0 mt-0">
                <p class="text-truncate mb-0 pb-0">
                  <%= recon.spot_name %>
                </p>
                <p class="mb-0 pb-0">
                  Rating:
                  <span class="badge badge-secondary">
                    <%= recon.RATES %>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <% } %>
        <% } %>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<input type="text" class="form-control" name="el_latitude" id="el_latitude" value="<%= sl_latitude %>" hidden>

<input type="text" class="form-control" name="el_longitude" id="el_longitude" value="<%= sl_lontitude %>" hidden>


<script type="text/javascript">
  window.initMap = function () {
    let dagupan = {
      lat: parseFloat(document.getElementById('el_latitude').value),
      lng: parseFloat(document.getElementById('el_longitude').value)
    };
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: dagupan
    });

    var marker = new google.maps.Marker({
      position: dagupan,
      map: map
    });
  }   
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc7MrXyAOjZ9VAmPCniGxbH5MEn0jpP7Q&callback=initMap"></script>

<script>
  $(document).ready(function () {
    $("#form-comments").submit(function (e) {
      var name = $('#name').val();
      var email = $('#email').val();
      var content = $('#content').val();

      // Check if empty of not
      if (name === '' || email === '' || content === '') {
        alert('Name, Email and Comment must be filled.');
        return false;
      }
    });
  });
</script>