<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-warning">
      <div class="form-group bmd-form-group float-right w-50">
        <form action="/admin/barangay/" method="get" onsubmit="myFunction()">
        <label class="bmd-label-floating text-primary">Search here...</label>
        <input type="text" class="form-control text-white " name="barangay_q">
        </form>
      </div>
      <h3 class="card-title">Barangay Table</h3>
      <p class="card-category"> Here is a subtitle for this table</p>
      <a href="/admin/barangay/new" class="btn btn-default float-right"> Add New Record</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="myTable">
          <thead class=" text-primary">
            <tr>
              <th>Barangay</th>
              <th>Town</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>  
            <% rows.forEach(function(row){ %>
              <tr>
                <td><%= row.bar_name %></td>
                <td><%= row.town_name %></td>
                <td class="td-actions text-right">
                  <a href="/admin/barangay/<%= row.bar_no %>" rel="tooltip" class="btn btn-success">
                      <i class="material-icons">edit</i>
                  </a>
                  <form class="d-inline" action="/admin/barangay/delete/<%= row.bar_no %>" method="POST">
                    <button class="btn btn-danger"><i class="material-icons">close</i></button>
                  </form>
                </td>
              </tr>
            <%	}); %>   
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="/admin/barangay/" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <% for(var i=1; i <= total_pages; i++){ %>
              <li class="page-item"><a class="page-link" href="/admin/barangay/?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <li class="page-item">
              <a class="page-link" href="/admin/barangay/?page=<%= total_pages %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
jQuery(document).ready(function() {
    var socket = io.connect();
    var chatArea = jQuery('#myTable');

    socket.on('new message', function(bar_info){
      chatArea.append('<tr><td>'+bar_info.bar_name+'</td><td>'+ bar_info.town_no +'</td></tr>');
    });
});
</script> -->