<div class="col-md-6 mx-auto">
  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">Update Barangay</h4>
    </div>
    <div class="card-body">
      <form action="/admin/barangay/<%= row[0].bar_no %>" method="POST">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group bmd-form-group">
              <label class="bmd-label-floating">Barangay Name</label>
              <input 
                type="text" 
                class="form-control" 
                name="bar_name" 
                value="<%= row[0].bar_name %>"
              >
              <label for="inputState">Town</label>
              <select id="inputState" class="form-control" name="town_no">
                <% data.forEach(function(data){ %>
                <option 
                  value="<%= data.town_no %>" 
                  <%= data.town_no == row[0].town_no ? 'selected' : ''  %>
                >
                  <%= data.town_name %>
                </option>
                <%	}); %>  
              </select>
            </div>
          </div>
        </div>
        <a href="/admin/barangay/" class="btn btn-danger pull-left">Go Back</a>
        <button type="submit" class="btn btn-info pull-right">Update Record</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>