<%- include('../../partials/index') %>

<%- include('../../Layout/Spot/GetAllNavBar') %>

<header class="masthead" style="background-image: url(../img/festivals.png);">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase text-white">

      </div>
    </div>
  </div>
</header>

<section id="hotels">
  <div class="container">
    <%- include('../../presets/getAllBreadcrumbs') %>
    <%- include('../../presets/topDestination') %>
    <%- include('../../Layout/Spot/GetAll') %>
  </div>
</section>

<%- include('../../partials/footer') %>