<%- include('../partials/index') %>

<%- include('../Layout/estabGetAllNavBar') %>

<header class="masthead" style="background-image: url(../img/esta_spot/hotels.png);">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase text-white"></div>
    </div>
  </div>
</header>

<section id="hotels">
  <div class="container">
    <%- include('../presets/getAllBreadcrumbs') %>
    <%- include('../presets/topDestination') %>
    <%- include('../Layout/estabGetAll') %>
  </div>
</section>

<%- include('../partials/footer') %>