<%- include('../partials/index') %>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Abra Guide</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#hotels">Hotels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead" style="background-image: url(../img/hotel-header2.jpg);">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase text-body">Need a place to stay in the area?</div>
      </div>
    </div>
  </header>

  <section id="hotels">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Hotels</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row text-center">
        <% rows.forEach(function(row){ %>
          <div class="container py-3">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <img src="uploads/<%= row.image_filename %>" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-body">
                    <h3 class="text-left"><%= row.estab_name %></h3>
                    <p class="card-text text-left text-truncate"><%= row.estab_description %></p>
                    <a href="/hotel/<%= row.estab_no %>" class="btn btn-primary float-left my-3">View more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </section>
  
  <%- include('../partials/footer') %>