<% if (user != '') {%>
<div class="container-fluid pb-2">
  <h4 class="section-heading text-uppercase">Recommended For You</h4>
  <div class="recon owl-carousel owl-theme">
    <% user_recon.forEach(function(recon) { %>
    <% var cat; %>
    <% if(recon.sc_name == 'Ilocano Delicacies') { %>
    <% cat = 'ilocano' %>
    <% } else if (recon.sc_name == 'Banks & Atms') { %>
    <% cat = 'banks' %>
    <% } else if (recon.sc_name == 'Churches & Structures') { %>
    <% cat = 'church' %>
    <% } else { %>
    <% cat = recon.sc_name %>
    <% } %>
    <div class="item">
      <div class="card">
        <a href="/<%= cat %>/<%= recon.spot_no %>">
          <img class="img-fluid" style="height:200px; width:400px;" src="/uploads/<%= recon.img_filename %>"
            onerror="if (this.src != 'error.jpg') this.src = '/uploads/default.png';" alt="<%= recon.sc_name %>">
        </a>
        <div class="card-body">
          <h5 class="card-title text-truncate mb-0 pb-0">
            <%= recon.spot_name %>
          </h5>
          <h6>
            <% if (recon.RATES) { %>
            <span class="float-left">
              <% let starPercentage = (recon.RATES / 5) * 100 %>
              <% let starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%` %>
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= starPercentageRounded %>;"></div>
              </div>
            </span>
            <span class="badge badge-secondary float-left">
              <%= recon.RATES %>
            </span>
            <span class="float-left">
              &nbsp;(<%= recon.Num_of_Rates %> reviews)
            </span>
            <% } %>
          </h6>
        </div>
      </div>
    </div>
    <% }); %>
    <% userReconEstab.forEach(function(recon) { %>
    <% var cat; %>
    <% if(recon.ec_name == 'Ilocano Delicacies') { %>
    <% cat = 'ilocano' %>
    <% } else if (recon.ec_name == 'Banks & Atms') { %>
    <% cat = 'banks' %>
    <% } else if (recon.ec_name == 'Churches & Structures') { %>
    <% cat = 'church' %>
    <% } else { %>
    <% cat = recon.ec_name %>
    <% } %>
    <div class="item">
      <div class="card">
        <a href="/<%= cat %>/<%= recon.estab_no %>">
          <img class="img-fluid" style="height:200px; width:400px;" src="/uploads/<%= recon.image_filename %>"
            onerror="if (this.src != 'error.jpg') this.src = '/uploads/default.png';" alt="<%= recon.estab_name %>">
        </a>
        <div class="card-body">
          <h5 class="card-title text-truncate mb-0 pb-0">
            <%= recon.estab_name %>
          </h5>
          <h6>
            <% if (recon.RATES) { %>
            <span class="float-left">
              <% let starPercentage = (recon.RATES / 5) * 100 %>
              <% let starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%` %>
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= starPercentageRounded %>;"></div>
              </div>
            </span>
            <span class="badge badge-secondary float-left">
              <%= recon.RATES %>
            </span>
            <span class="float-left">
              &nbsp;(<%= recon.Num_of_Rates %> reviews)
            </span>
            <% } %>
          </h6>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<% } %>
<script>
  $(document).ready(function () {
    $('.recon').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      dots: false,
      autoplay: true,
      autoplayTimeout: 9000,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 4
        }
      }
    })

  });
</script>