<div class="container-fluid pb-5">
  <h4 class="section-heading text-uppercase">Featured Attractions</h4>
  <!-- Grid row -->
  <div class="row">
  </div>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid row -->
    <div class="row">
    </div>

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <% fea_row.forEach(function(rows, index) { %>
      <% if(index <= 2) { %>
      <% var cat; %>
      <% if(rows.sc_name == 'Ilocano Delicacies') { %>
      <% cat = 'ilocano' %>
      <% } else { %>
      <% cat = rows.sc_name %>
      <% } %>
      <div class="col-lg-4 col-md-12 mb-3">
        <a href="/<%= cat %>/<%= rows.spot_no %>">
          <img class="img-fluid z-depth-1" style="height: 270px; width: 100%" src="/uploads/<%= rows.img_filename %>"
            onerror="if (this.src != 'error.jpg') this.src = '/uploads/default.png';" alt="<%= rows.sc_name %>">
        </a>
      </div>
      <% }  %>
      <% }); %>
    </div>

    <div class="row">
      <!-- Grid column -->
      <% fea_row.forEach(function(rows, index) { %>
      <% if(index >= 3) { %>
      <% var cat; %>
      <% if(rows.sc_name == 'Ilocano Delicacies') { %>
      <% cat = 'ilocano' %>
      <% } else { %>
      <% cat = rows.sc_name %>
      <% } %>
      <div class="col-md-6 mb-3">
        <a href="/<%= cat %>/<%= rows.spot_no %>">
          <img class="img-fluid z-depth-1" style="height: 369px; width: 100%" src="/uploads/<%= rows.img_filename %>"
            onerror="if (this.src != 'error.jpg') this.src = '/uploads/default.png';" alt="<%= rows.sc_name %>">
        </a>
      </div>
      <% }  %>
      <% }); %>
    </div>
    <!-- Grid row -->
    <!-- END -->
  </div>
</div>