<% if (comments.length > 0) { %>
<div class="col-md-12">
  <div class="card w-100">
    <ul class="list-group list-group-flush">
      <% comments.forEach(function(comment){ %>
      <li class="list-group-item bg-light ">
        <img src="/guest.ico" alt="..." class="rounded-circle" height="32" width="32">
        <span>
          <% if (comment.comm_guest == "yes") { %>
          Guest
          <% } else { %>
          <%= comment.comm_guest %>
          <% } %>
          -
        </span>
        <span>
          <%= comment.comm_content %>
        </span>
        <p class="float-right" id="comm_date">
          <%= moment(comment.comm_date).format('MMMM Do YYYY, h:mm:ss a') %>
        </p>
      </li>
      <%	}); %>
    </ul>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="/<%= route %>/<%= id %>/" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <% for(var i=1; i <= total_pages; i++){ %>
      <li class="page-item"><a class="page-link" href="/<%= route %>/<%= id %>/?page=<%= i %>#comments">
          <%= i %></a></li>
      <% } %>
      <li class="page-item">
        <a class="page-link" href="/<%= route %>/<%= id %>/?page=<%= total_pages %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<% } %>