<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-warning">
      <div class="form-group bmd-form-group float-right w-50">
        <form action="/admin/establishment/" method="get" onsubmit="myFunction()">
          <label class="bmd-label-floating text-primary">Search here...</label>
          <input type="text" class="form-control text-white " name="town_q">
        </form>
      </div>
      <h3 class="card-title">Establishment Table</h3>
      <p class="card-category"> Hello Admin! Manage establishments here.</p>
      <a href="/admin/establishment/new" class="btn btn-default float-right"> Add New Record</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Address</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Category</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach(function(row){ %>
            <tr>
              <td><a href="/admin/establishment/view/<%= row.estab_no %>">
                  <%= row.estab_name %></a></td>
              <td>
                <%= row.estab_description %>
              </td>
              <td>
                <%= row.estab_address %>
              </td>
              <td>
                <%= row.estab_contact %>
              </td>
              <td>
                <%= row.estab_email %>
              </td>
              <td>
                <%= row.ec_name %>
              </td>
              <td class="td-actions text-right">
                <a href="/admin/establishment/<%= row.estab_no %>/feature" title="Featured!" class="btn btn-success">
                  <i class="fa fa-star-o"></i>
                </a>
                <a href="/admin/establishment/image/<%= row.estab_no %>" title="Set Image!" class="btn btn-success">
                  <i class="material-icons">image</i>
                </a>
                <a href="/admin/establishment/location/<%= row.estab_no %>" class="btn btn-success" title="Set Location">
                  <i class="material-icons">my_location</i>
                </a>
                <a href="/admin/establishment/<%= row.estab_no %>" class="btn btn-success" title="Edit Record">
                  <i class="material-icons">edit</i>
                </a>
                <form class="d-inline" action="/admin/establishment/delete/<%= row.estab_no %>" method="POST">
                  <button class="btn btn-danger" title="Hooray!"><i class="material-icons">close</i></button>
                </form>
              </td>
            </tr>
            <%	}); %>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="/admin/establishment/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% for(var i=1; i <= total_pages; i++){ %>
          <li class="page-item"><a class="page-link" href="/admin/establishment/?page=<%= i %>">
              <%= i %></a></li>
          <% } %>
          <li class="page-item">
            <a class="page-link" href="/admin/establishment/?page=<%= total_pages %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    <% if (msg == 'success') {%>
      Swal.fire(
        'Good job!',
        'Establishment is Featured!',
        'success'
      )
      <% } %>

      <% if (msg == 'error') {%>
      Swal.fire(
        'Oops...',
        'Something went wrong!',
        'error'
      )
      <% } %>
  });
</script>