<div class="col-md-7 mx-auto">
  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">New Spot</h4>
    </div>
    <div class="card-body">
      <p class="text-danger">* fields are required</p>
      <form action="/admin/spot" method="POST" id="create_spot">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group bmd-form-group">
              <label for="barangay_name" class="bmd-label-floating">
                <span class="text-danger">*</span>
                Spot Name</label>
              <input type="text" class="form-control" id="spot_name" name="spot_name">
              <div class="invalid-feedback">
                Spot Name required.
              </div>
            </div>
            <div class="form-group bmd-form-group">
              <label for="barangay_name" class="bmd-label-floating">Sub Name</label>
              <input type="text" class="form-control" name="spot_subname">
            </div>
            <div class="form-group bmd-form-group">
              <label for="inputState">Category</label>
              <select id="inputState" class="form-control" name="sc_no">
                <% data.forEach(function(row){ %>
                <option value="<%= row.sc_no %>">
                  <%= row.sc_name %>
                </option>
                <%	}); %>
              </select>
            </div>
            <div class="form-group bmd-form-group">
              <label for="inputState">Use for:</label>
              <select id="inputState" class="form-control" name="sa_no">
                <% actuals.forEach(function(row){ %>
                <option value="<%= row.sa_no %>">
                  <%= row.sa_name %>
                </option>
                <%	}); %>
              </select>
            </div>
            <div class="form-group bmd-form-group">
              <label for="town_no">Town</label>
              <select class="form-control" name="town_no" id="town_no">
                <% towns.forEach(function(town){ %>
                <option value="<%= town.town_no %>">
                  <%= town.town_name %>
                </option>
                <%	}); %>
              </select>
            </div>
            <div class="form-group bmd-form-group">
              <span class="text-danger">*</span>
              <label for="bar_no">Barangay</label>
              <select id="bar_no" class="form-control" name="bar_no">
                <option value="0">
                  Select Barangay...
                </option>
              </select>
              <div class="invalid-feedback">
                Barangay required.
              </div>
            </div>
            <label for="exampleFormControlTextarea1">
              <span class="text-danger">*</span>
              Description</label>
            <textarea class="form-control" name="desc" id="description" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-info pull-right">Save Record</button>
          <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $.ajax({
      type: 'POST',
      data: 3,
      contentType: 'application/json',
      url: 'https://kku0vs6-abra.wedeploy.io/admin/spot/new/barangays/3',
      success: function (data) {
        $.each(JSON.parse(data), function (i, value) {
          $('#bar_no').append($('<option>').text(value.bar_name).attr('value', value.bar_no));
        });
      }
    });

    $("#town_no").change(function () {
      $.ajax({
        type: 'POST',
        data: $(this).val(),
        contentType: 'application/json',
        url: 'https://kku0vs6-abra.wedeploy.io/admin/spot/new/barangays/' + $(this).val(),
        success: function (data) {
          $("#bar_no").empty();
          $.each(JSON.parse(data), function (i, value) {
            $('#bar_no').append($('<option>').text(value.bar_name).attr('value', value.bar_no));
          });
        }
      });
    });

    $.ajax({
      type: 'POST',
      data: 3,
      contentType: 'application/json',
      url: 'http://localhost:8080/admin/spot/new/barangays/3',
      success: function (data) {
        $.each(JSON.parse(data), function (i, value) {
          $('#bar_no').append($('<option>').text(value.bar_name).attr('value', value.bar_no));
        });
      }
    });

    $("#town_no").change(function () {
      $.ajax({
        type: 'POST',
        data: $(this).val(),
        contentType: 'application/json',
        url: 'http://localhost:8080/admin/spot/new/barangays/' + $(this).val(),
        success: function (data) {
          $("#bar_no").empty();
          $.each(JSON.parse(data), function (i, value) {
            $('#bar_no').append($('<option>').text(value.bar_name).attr('value', value.bar_no));
          });
        }
      });
    });


    $('#create_spot').submit((e) => {
      // Validation
      var spot_name = $.trim($('#spot_name').val());
      var spot_description = $.trim($('#description').val());
      var bar_no = $('#bar_no').val();

      if (spot_name === '') {
        e.preventDefault()
        alert('Spot name is required.');
        $('#spot_name').addClass('is-invalid');
      }

      if (spot_description === '') {
        e.preventDefault()
        alert('Description is required.');
      }

      if (bar_no == 0) {
        e.preventDefault()
        alert('Barangay is required.');
        $('#bar_no').addClass('is-invalid');
      }

    });

  });
</script>