<div class="col-md-10 mx-auto">
  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">View Establishment
        <%= estab_info[0].estab_name %>
      </h4>
    </div>
    <div class="card-body">
      <form action="/admin/establishment" method="POST">
        <div class="row">
          <div class="col-md-12" id="map" style="height:350px;width:100%;"></div>
          <div class="col-md-12">
            <label for="barangay_name">Address</label>
            <input type="text" class="form-control" value="<%= estab_info[0].estab_address %>" readonly>
          </div>
          <div class="col-md-6">
            <label for="barangay_name">Town</label>
            <input type="text" class="form-control" value="<%= estab_info[0].town_name %>" readonly>
          </div>
          <div class="col-md-6">
            <label for="barangay_name">Barangay</label>
            <input type="text" class="form-control" value="<%= estab_info[0].bar_name %>" readonly>
          </div>
          <div class="col-md-6">
            <label for="barangay_name">Contact Number</label>
            <input type="text" class="form-control" value="<%= estab_info[0].estab_contact %>" readonly>
          </div>
          <div class="col-md-6">
            <label for="barangay_name">Email</label>
            <input type="text" class="form-control" value="<%= estab_info[0].estab_email %>" readonly>
          </div>
          <div class="col-md-6">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" name="desc" rows="3" readonly>
                <%= estab_info[0].estab_description %>
              </textarea>
          </div>
          <div class="col-md-6">
            <label for="exampleFormControlTextarea1">Route</label>
            <textarea class="form-control" name="desc" rows="3" readonly>
              <%= el_route %>
            </textarea>
          </div>
          <div class="col-md-6">
            <label for="barangay_name">Latitude</label>
            <input type="text" class="form-control" name="el_latitude" id="el_latitude" value="<%= el_latitude %>"
              readonly>
          </div>
          <div class="col-md-6">
            <label for="barangay_name">Longitude</label>
            <input type="text" class="form-control" name="el_longitude" id="el_longitude" value="<%= el_lontitude %>"
              readonly>
          </div>
          <div class="col-md-12">
            <% estab_images.forEach(function(image){ %>
            <img src="/uploads/<%= image.image_filename %>" alt="/uploads/<%= image.image_filename %>" height="200"
              width="200" class="img-thumbnail">
            <%	}); %>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc7MrXyAOjZ9VAmPCniGxbH5MEn0jpP7Q&callback=initMap">































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</script>
<script>
  function initMap() {
    let dagupan = {
      lat: parseFloat(document.getElementById('el_latitude').value),
      lng: parseFloat(document.getElementById('el_longitude').value)
    };
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: dagupan
    });

    var marker = new google.maps.Marker({
      position: dagupan,
      map: map
    });
  }   
</script>