<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-warning">
      <div class="form-group bmd-form-group float-right w-50">
        <form action="/admin/town/" method="get" onsubmit="myFunction()">
        <label class="bmd-label-floating text-primary">Search here...</label>
        <input type="text" class="form-control text-white " name="town_q">
        </form>
      </div>
      <h3 class="card-title">Town Table</h3>
      <p class="card-category"> Here is a subtitle for this table</p>
      <a href="/admin/town/new" class="btn btn-default float-right"> Add New Record</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <tr>
              <th>Name</th>
              <th>Zip Code</th>
              <th>Type</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach(function(row){ %>
              <tr>
                <td><%= row.town_name %></td>
                <td><%= row.town_zipcode %></td>
                <td><%= row.town_iscity === 0 ? 'Town' : 'City' %></td>
                <td class="td-actions text-right">
                  <a href="/admin/town/edit/<%= row.town_no %>" rel="tooltip" class="btn btn-success">
                      <i class="material-icons">edit</i>
                  </a>
                  <form class="d-inline" action="/admin/town/delete/<%= row.town_no %>" method="POST">
                    <button class="btn btn-danger"><i class="material-icons">close</i></button>
                  </form>
                </td>
              </tr>
            <%	}); %>     
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="/admin/town/" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% for(var i=1; i <= total_pages; i++){ %>
            <li class="page-item"><a class="page-link" href="/admin/town/?page=<%= i %>"><%= i %></a></li>
          <% } %>
          <li class="page-item">
            <a class="page-link" href="/admin/town/?page=<%= total_pages %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>