<%- include('../partials/index') %>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #212529; padding-top:0px; padding-bottom: 0px;">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Abra Travel Guide</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#portfolio">Explore</a>
        </li>
        <li class="nav-item">
          <% if (userDetail == '') {%>
          <a class="nav-link" href="/login">Sign In</a>
          <% } else { %>
          <a class="nav-link" href="/logout">Welcome back
            <%= userDetail.user_lname %>,
            <%= userDetail.user_fname %>!</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="map-window">
  <div class="col-md-12" id="map" style="height:500px;width:100%;"></div>
</div>

<%- include('../partials/footer') %>

<script type="text/javascript">
  var establisments = <%- JSON.stringify(estab) %>;
  var estabMarker = establisments.map(
    estabs => ({ lat: estabs.el_latitude, lng: estabs.el_lontitude }));

  var markers = [];
  var map;
  var infowindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: { lat: 17.5951, lng: 120.7983 }
    });
    infowindow = new google.maps.InfoWindow();
    drop()
  }

  function drop() {
    clearMarkers();
    for (var i = 0; i < estabMarker.length; i++) {
      addMarkerWithTimeout(
        estabMarker[i],
        i * 200,
        establisments[i].estab_name.toString(),
        establisments[i].estab_no,
        establisments[i].ec_name,
        establisments[i].estab_description);
    }
  }

  function addMarkerWithTimeout(position, timeout, name, estab_no, ec_name, description) {
    window.setTimeout(function () {
      marker = new google.maps.Marker({
        position: position,
        map: map,
        title: name,
        animation: google.maps.Animation.DROP
      });

      var content = `
        <div class="container">
          <div class="row">
            <div class="col-md-12 mx-auto">
              <h4 class="card-title d-flex justify-content-center">
                <a href="/${ec_name}/${estab_no}">${name}</a>
              </h4>
              <dl class="row">
                <dd class="col-sm-12 lead">
                  ${description}
                </dd>
              </dl>
            </div>
          </div>
        </div>
      `;

      google.maps.event.addListener(marker, "click", (function (marker) {
        return function (evt) {
          infowindow.setContent(content);
          infowindow.open(map, marker);
        }
      })(marker));

      markers.push(marker);
    }, timeout);
  }

  function clearMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    markers = [];
  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc7MrXyAOjZ9VAmPCniGxbH5MEn0jpP7Q&callback=initMap"></script>